
.container {
    height: 100%;
}
.row {
    margin-top: 16%;
}
.display-table-container {
    position: relative;
    min-height: 200px;
    max-height: 600px;
    overflow: auto;
    z-index: 0;
}

.loading-overlay {
    position: absolute;
    top: inherit;
    left: inherit;
    bottom: inherit;
    right: inherit;
    min-height: 200px;
    max-height: 600px;
    width: inherit;
    max-width: 75%;
    height: inherit;
    display: block;
    background: rgba(0, 0, 0, 0.00);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
td { 
    margin-left: 8px;
}
// - MARK - NEED TO MAKE MOBILE COMPLIANT THAT WOULD BE THE NEXT TODO FOR DESIGN.
.mat-column-timeCreated {
    width: 128px;
}
.mat-column-emailAddress {
    width: 256px;
}
.mat-column-isPrimary {
    width: 64px;
}
.mat-column-emailTypeId {
    width: 64px;
}
.mat-column-description {
    width: 256px;
}